In [18]:
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

In [19]:
#Creating a dataset
X, y = make_classification(n_samples=10000, n_features=20, n_classes = 2, random_state=42)

In [20]:
X

array([[-0.6531912 , -0.81238767,  1.19535267, ...,  1.60033929,
         0.77295496, -0.29007468],
       [ 0.6776613 ,  1.05645354, -1.00719561, ...,  0.55370642,
         0.72971507,  0.68225029],
       [ 0.7245679 ,  0.87722803, -1.09393816, ...,  1.27031736,
         0.99399274,  0.27905571],
       ...,
       [-1.30993779, -1.601322  , -0.72688671, ..., -0.91066085,
        -0.98393053, -0.5319741 ],
       [ 1.2252827 ,  1.56968318,  1.20373667, ..., -0.69189211,
         0.17473731,  0.62583397],
       [ 1.10139394,  0.83424315, -0.5840946 , ..., -0.9221052 ,
         0.69061415, -0.46683995]])

In [21]:
df = pd.DataFrame(X, columns=[f'feature_{i}' for i in range(X.shape[1])])

In [22]:
df.head()

   feature_0  feature_1  feature_2  ...  feature_17  feature_18  feature_19
0  -0.653191  -0.812388   1.195353  ...    1.600339    0.772955   -0.290075
1   0.677661   1.056454  -1.007196  ...    0.553706    0.729715    0.682250
2   0.724568   0.877228  -1.093938  ...    1.270317    0.993993    0.279056
3  -1.764986  -1.869918  -0.137520  ...   -0.042142   -0.913850   -0.203307
4   0.284240   0.236105  -0.083326  ...   -0.054217    0.675099   -0.083337

[5 rows x 20 columns]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state = 42)

In [24]:
X_train.shape

(7000, 20)

In [25]:
X_test.shape

(3000, 20)

In [26]:
y_train.shape

(7000,)

In [27]:
y_test.shape

(3000,)